@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "ibm_vga";
  src: url("../fonts/ibm_vga.woff") format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
